.intro h1 {

  font-family: cairo;
  color: white;
  text-align: center;

}
.intro{
  background:url( "../images/backgrounds/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px;
  }
  #courses {
  font-family: lobster;
  padding-left: 400px;
  padding-right: 50px;
}
  #logo{
    padding-left: 0px;
    padding-top: 50px;
    text-align: center;
  }
  #box{
    background-image: url("../images/foodtop/breakfast.jpg");
    padding: 100px;
    background-size: cover;
    background-clip: padding-box;
    background-position: top;
    color: white;
  }
  #lunch{
    background-image: url("../images/foodtop/lunch.jpg");
    padding: 100px;
    background-clip: padding-box;
    background-position: top;
    background-size:cover;
    background-origin: border-box;
    color: white;
  }
  #dinner{
    background-image: url("../images/foodtop/dinner.jpg");
    padding:100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    color: white;
    background-clip: padding-box;
  }

  #fastFood{
    font-size: 20px;
  }
  #fastFood img{
    float: left;
  }
  #drinks img{
    float: right;
  }
  #drinks p{
    font-size: 20px;
  }
  .row{
    margin: 60px;
  }
  .btn-lg{
    background-color: white;
    color: red;
    border-color: red;
  }
  h1  {
    font-weight: bold;
  }
  #drinks{
    text-align: right;
  }
  .text-box1{
   background-color: #ccccb3;
   border: 2px white ;
   length: 80px;;
   padding-top:30px;
   padding-bottom: 10px;
   text-align: center;

  }
  .text-box2{
    background-color: #ff6600;
    border:2px white;
    length:80px;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
  }
  #Food{
    background-image:url("../images/backgrounds/foodsBg.jpg");
    padding: 300px;
    background-size: cover;

  }
  .tab button{
    padding: 30px;
    font-size: 30px;
    border:none;

  }
  .tab button:hover{
    background-color: white;
  }
  .tab button:active{
    background-color: white;
  }
