.intro h1 {

  font-family: cairo;
  color: white;
  text-align: center;

}
.intro{
  background:url( "../images/backgrounds/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px;
  }
  #courses {
  font-family: lobster;
  padding-left: 400px;
  padding-right: 50px;
}
  #logo{
    padding-left: 0px;
    padding-top: 50px;
    text-align: center;
  }
  #box{
    background-image: url("../images/foodtop/breakfast.jpg");
    padding: 100px;
    background-size: cover;
    background-clip: padding-box;
    background-position: top;
    color: white

  }
  #lunch{
    background-image: url("../images/foodtop/lunch.jpg");
    padding: 100px;
    background-clip: padding-box;
    background-position: top;
    background-size:cover;
    background-origin: border-box;
    color: white;
  }
  #dinner{
    background-image: url("../images/foodtop/dinner.jpg");
    padding:100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    color: white;
    background-clip: padding-box;
  }

  #fastFood{
    font-size: 20px;
  }
  #fastFood img{
    float: left;
  }
  #drinks img{
    float: right;
  }
  #drinks p{
    font-size: 20px;
  }
  .row{
    margin: 60px;
  }
  .btn-lg{
    background-color: white;
    color: red;
    border-color: red;
  }
  h1  {
    font-weight: bold;
  }
  #drinks{
    text-align: right;
  }
  .text-box1{
   background-color: #ccccb3;
   border: 2px white ;
   length: 80px;;
   padding-top:30px;
   padding-bottom: 10px;
   text-align: center;

  }
  .text-box2{
    background-color: #ff6600;
    border:2px white;
    length:80px;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
  }
  #Food{
    background-image:url("../images/backgrounds/foodsBg.jpg");
    padding: 300px;
    background-size: cover;

  }
  .tab button{
    padding: 30px;
    font-size: 30px;
    border:none;

  }
  .tab button:hover{
    background-color: white;
  }
  .tab button:active{
    background-color: white;
  }
  #panel{
    background-color: white;
    border:2px solid;
    padding-top: none;

  }
  #panel h3{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    color: #ff6600;
  }
  #panel h4{
   font-weight: bold;
   text-align: center;
   font-size: 20px;
  }
  #panel p{
  font-size:15px;
  text-align: center;
  }
  #panel img{
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    padding-left:10px;
    align: center;
  }
  .email{
    background-image: url("../images/backgrounds/subscribe.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-spacing: 0px;
  }
  .email p{
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 60px;
  }
  #end{
    background-color:#ff6600;
    height: 300px;
    padding-top: 40px
  }
  #end p{
    font-size: 15px;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;

  }
  #end h2{
    color: white;
    text-align: center;
    font-family: Times New Roman;
    padding-top:40px
  }
  #end h6{
    color:white;
    text-align: center;
  }
  #center img{
    display:inline-block;
    margin:auto;
  }
