.intro h1 {

  font-family: cairo;
  color: white;
  text-align: center;

}
.intro{
  background:url( "../images/backgrounds/landing.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  padding: inherit;
  background-position: center;
  padding: 100px;
  }
#courses {
  font-family: lobster;
  margin: 0px;
  border: none;

  }
  #logo{
    padding-left: 0px;
    padding-top: 50px;
    text-align: center;
  }
  #box{
    background-image: url("../images/foodtop/breakfast.jpg");
    padding: 90px;
    background-repeat: no-repeat;
    color: white;
  }
  #lunch{
    background-image: url("../images/foodtop/lunch.jpg");
    padding: 90px;
    background-repeat: no-repeat;
    color: white;
  }
  #dinner{
    background-image: url("../images/foodtop/dinner.jpg");
    padding:100px;
    background-repeat:no-repeat;
    color: white;
  }
  #fastFood{
    font-size: 20px;
  }
  #fastFood img{
    float: left;
  }
  #drinks img{
    float: right;
  }
  #drinks p{
    font-size: 20px;
  }
  .row{
    margin: 60px;
  }
  .btn-lg{
    background-color: white;
    color: red;
    border-color: red;
  }
  h1  {
    font-weight: bold;
  }
  #drinks{
    text-align: right;
  }
  .text-box{
   border: 2px solid green;
  }
  .row1{
    border-spacing:none;
  }
